@model U3RazasPerros.Models.Razas
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Eliminar";
    Layout = "MasterPage";
}

<h1>Eliminar Raza</h1>
<form method="post" action="~/Admin/Razas/Eliminar">
    <div>
        <input type="hidden" id="id" asp-for="Id"/>
        <p>¿Deseas eliminar la raza de los dogos <span id="Nombre">@Model.Nombre</span>?</p>

        <div class="botones">
            <p id="error" asp-validation="true">
                @Html.ValidationSummary()
            </p>
            <input type="submit" value="Si" id="btnSi"/>

            <a href="~/Admin/Razas">
                <input type="button" value="No" id="btnNo"/>
            </a>
        </div>
    </div>
</form>
