@model IEnumerable<U3RazasPerros.Models.Razas>
@{
    ViewData["Title"] = "Index";
    Layout = "_LayoutAdmin";
}

<!--
  <section class="list">
    <ul>
        @*foreach (var raza in Model)
        {
            <li>
                <a href="~/@(raza.Nombre.Replace(" ","-"))/Datos">
                    <img src="~/imgs_perros/@(raza.Id)_0.jpg" />
                    @raza.Nombre
                </a>
            </li>
        }*@
    </ul>
    <br class="clear" />
</section>
-->
